<div>
  <mat-toolbar>
    <span>Restaurant List</span>
  </mat-toolbar>

  <mat-card *ngFor="let restaurant of restaurants" class="card fix-height light-primary-color">

    <mat-card-header>
      <mat-card-title>{{restaurant.restaurantName}}</mat-card-title>
      <mat-card-subtitle>{{restaurant.restaurantLocation}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-list>
          <mat-list-item>
            Address : {{restaurant.restaurantAddress}}
          </mat-list-item>
          <mat-list-item>
            Contact : {{restaurant.restaurantContactNo}}
          </mat-list-item>
          <mat-list-item>
            Cuisine and Category : {{restaurant.restaurantCategory}}
          </mat-list-item>
          <mat-list-item>
            Expense For Two : € {{restaurant.restaurantExpense}}
          </mat-list-item>
        </mat-list>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Review</button>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a mat-icon-button (click)="openDialogEditRestaurant(restaurant)" matTooltip="Edit">
        <mat-icon svgIcon="edit"></mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>

  <div>
    <button mat-icon-button matTooltip="Add Restaurant" (click)="openDialogAddRestaurant(restaurant)"
      matTooltipPosition="after">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </div>
</div>