<mat-toolbar>
  <span>Restaurant List</span>
</mat-toolbar>

<mat-card *ngFor="let restaurant of restaurants">

  <mat-card-header>
    <mat-card-title>{{restaurant.restaurantName}}</mat-card-title>
    <mat-card-subtitle>{{restaurant.restaurantLocation}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
  </mat-card-content> -->
  <mat-card-actions>
    <button mat-button>Review</button>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a mat-icon-button (click)="openDialogEditRestaurant(restaurant)" matTooltip="Edit">
      <mat-icon svgIcon="edit"></mat-icon>
    </a>
    <!-- [routerLink]="['/restaurant/edit', restaurant.restaurantId]" -->
  </mat-card-actions>
  <!-- <mat-divider></mat-divider> -->
</mat-card>

<div>
  <button mat-icon-button matTooltip="Add Restaurant" (click)="openDialogAddRestaurant(restaurant)" matTooltipPosition="after">
    <mat-icon svgIcon="add"></mat-icon>
  </button> 
</div>