.fix-height{
    /* height: 350px; */
    width: 85%;
    min-width: 150px;
    margin:1em;
  }

  .card{
    display: inline-block;
  }
  
  .list-primary{
    background-color: #3f51b5;
    color: white;
  }
  
  .list-primary a{
    background-color: #3f51b5;
    color: white;
  }
  
  .mat-list .mat-list-item{
  /* color: white; */
  }
  
  .light-primary-color   { 
      background: rgb(240, 240, 240); 
}

/* .dark-primary-color    { background: #7B1FA2; }
.default-primary-color { background: #9C27B0; }
.light-primary-color   { background: #E1BEE7; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } */