<mat-toolbar>
  Search For A Restaurant Here
</mat-toolbar>
<form class="form">
  <div class="search-area">
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter a keyword" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Location" [(ngModel)]="selectedLocation" name="location" required>
        <mat-option *ngFor="let location of locations" [value]="location">
          {{location}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div align="end">
      <button mat-raised-button color="primary" (click)="onClickSearch()">Search</button>
    </div>
    <div> &nbsp;</div>
    <div align=end>
      <a routerLink="/restaurant" button mat-button (click)="onClickSearch()"> Click Here To Skip Search</a>
    </div>
  </div>
</form>