  .bg {
    background-image: url("http://localhost:4200/assets/bowl-cooking-cuisine-1640773.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .toolbar-height{
    height:250px;
  }