  .bg {
    background-image: url("/assets/backgrounds/toolbar-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-size: larger;
  }
  .toolbar-height{
    height:250px;
  }
  .header {
    flex: 0.50
  }
  .header h1{
    font-size: 60px;
  }

  @media screen and (max-width: 500px) {
    .header h1{
      font-size: 20px;
    }
    .header {
      flex: 0.70
    }
    .toolbar-height{
      height:150px;
    }
  }
